/***** Top content *****/
#descreverProblema{margin-top:10px;}
.setup-content{padding: 10px;}
.btn-steps{margin-top: 15px;}
.top-content {
    min-height: 100%;
    height: auto !important;
    margin-bottom: -100px
}
.top-content:after{
    content: "";
    display: block;
    height: 100px; /* the footer's total height */
}
@media (min-width: 1024px) {
    .top-content{
        margin-top:40px;
    }
}
    .top-content {position: relative;}
    .top-content .text { color: #fff; }
    .top-content .text h1 { color: #fff; }
    .top-content .description { margin: 20px 0 10px 0; }
    .top-content .description p { opacity: 0.8; }
    .top-content .description a { color: #fff; }
    .top-content .description a:hover, 
    .top-content .description a:focus { border-bottom: 1px dotted #fff; }
    
    .f1 {
        padding: 5px;
    }
    .f1 h3 { margin-top: 0; margin-bottom: 5px; text-transform: uppercase; }
    
    .f1-steps { overflow: hidden; position: relative; margin-top: 20px; text-align: center;}
    
    .f1-progress { position: absolute; top: 24px; left: 0; width: 100%; height: 1px; background: #ddd; }
    .f1-progress-line { position: absolute; top: 0; left: 0; height: 1px; background: #5FB4B6; }
    
    .f1-step { position: relative; float: left; width: 33.3333333333%; padding: 0 0px; }
    
    .f1-step-icon {
        display: inline-block; width: 40px; height: 40px; margin-top: 4px; background: #ddd;
        font-size: 16px; color: #fff; line-height: 40px;
        -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
    }
    .f1-step.activated .f1-step-icon {
        background: #5FB4B6; border: 1px solid #5FB4B6; color: #FFF; line-height: 38px;
    }
    .f1-step.active .f1-step-icon {
        width: 48px; height: 48px; margin-top: 0; background: #5FB4B6; font-size: 22px; line-height: 48px;
    }
    
    .f1-step p { color: #ccc; }
    .f1-step.activated p { color: #5FB4B6; }
    .f1-step.active p { color: #5FB4B6; }
    
    .f1 fieldset { display: none; text-align: left; }
    
    .f1 .input-error { border-color: red; }
    
    fieldset {
        border: 1px solid #ccc;
        -webkit-box-shadow: 0px 0px 14px -1px rgba(204,204,204,1);
        -moz-box-shadow: 0px 0px 14px -1px rgba(204,204,204,1);
        box-shadow: 0px 0px 14px -1px rgba(204,204,204,1);
        padding: 0;
        background: #FFF;
    }
    .success-header {
        background: green !important;
    }
    .field-set-header{
        background: #5FB4B6;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }
    .field-set-header>h3{
        color: #fff;
        letter-spacing: 1px;

    }
    /***** Media queries *****/
    
    @media (min-width: 992px) and (max-width: 1199px) {}
    
    @media (min-width: 768px) and (max-width: 991px) {}
    
    @media (max-width: 767px) {
        
        .navbar { padding-top: 0; }
        .navbar.navbar-no-bg { background: #333; background: rgba(51, 51, 51, 0.9); }
        .navbar-brand { height: 60px; margin-left: 15px; }
        .navbar-collapse { border: 0; }
        .navbar-toggle { margin-top: 12px; }
        
        .top-content { padding: 40px 0 110px 0; }
    
    }
    
    @media (max-width: 415px) {
        
        h1, h2 { font-size: 32px; }
        
        .f1 { padding-bottom: 20px; }
        .f1-buttons button { margin-bottom: 5px; }
    
    }