body,html {
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    height: 100%;
}

body {
    font-family: 'Antipasto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    background: #f6f6f6;
    margin-bottom: 0px;
    letter-spacing: 1px;
}
@font-face {
    font-family: 'Antipasto';
    src:url('font/Antipasto.ttf.woff') format('woff'),
        url('font/Antipasto.ttf.svg#Antipasto') format('svg'),
        url('font/Antipasto.ttf.eot'),
        url('font/Antipasto.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
h3 {
    margin: 10px;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.required-form{
    color: red;
    font-size: 10px;
}
.hiw{
    border: 1px solid #f6f6f6;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.icon-hiw{
    color: #FFAF00;
}
.text-hiw {
    font-size: 16px;
    letter-spacing: 1px;
}
.lead{
    letter-spacing: 1px;
    font-size: 15px;
    font-style: italic;
}
/**
Seção assistência não encontrada
**/
.naoAssistencia{
    margin-top: 15px;
}
.icon-error{
    color: red;
}
.font-error{
    color: red;
}
/*
Botoes
*/
.btn {
    background: #FFAF00;
    border: 0;
    color: #FFF;
    border-radius: 5px;
    padding:5px;
    width: 100%;
    margin-bottom: 10px;
}
.btn:disabled{
    background: #ccc;

}
.btn-fabricante {
    border:0;
    background: none;
}
.btn-cep {
    background: #0abfbf;
    border: 0;
    color: #FFF;
    border-radius: 5px;
    width: 100%;
}
.btn-wpp {
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
    width: 100%;
    background: #0abfbf;
    color: white;
    border: 0;
    margin-bottom: 10px;
}
/**
Alertas
**/
.error-msg {
    color: #D8000C;
    background-color: #FFBABA;
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px 3px 3px 3px;
}
.warning-msg {
    color: #9F6000;
    background-color: #FEEFB3;
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px 3px 3px 3px;
}
/**
Botões fabricantes
**/
.agendamentos>.row {
	overflow-x: auto;
	white-space: nowrap;
	background: #FFF;
}

.agendamentos>.row>.col-lg-2 {
	display: inline-block;
	float: none;
}
/*
Navbar
*/
.navbar-default {
    background: #FFF;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.21);
    box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.21);
    height: auto;
}
.navbar-default.single .navbar-nav>li>a {
    color: #333;
    font-size: 20px;
}   
.navbar-default.single .navbar-nav>li>a:hover {
    color: #e5aa30;
}
.navbar-default {
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
.navbar-brand {
    padding: 0;
}
/*
Recibo
*/
.text-recibo {
    color: #333 !important;
    font-size: 18px;
}
.text-recibo>strong{
    font-size: 20px;
}
.italic-text{
    font-style: italic;
}
.title-recibo {
    color: green;
    font-size: 25px;
}
/*
Footer Section
*/
.rodape {
  height: 100px; /* the footer's total height */
}
.rodape-content{
    background-color: #333;
    height: 140px; /* height + top/bottom paddding + top/bottom border must add up to footer height */
    padding: 8px;
}
@media (max-width: 620px) {
    .rodape-content{
        height: 270px; /* height + top/bottom paddding + top/bottom border must add up to footer height */
    }
}
.text-rodape {
    color: #FFF;
    font-family: 'Antipasto';
    font-size: 18px;
    letter-spacing: 1px;
}